@page
@model DigitalLibrary.Pages.Panel.IndexModel
@{
}
<div class="container mt-5">
    <div class="row">
        <partial name="_Panel" />
        <div class="col-lg-9 col-md-9 col-12">
            <h3 class="text-center h3 mx-auto d-block">@Model.FullName خوش آمدید</h3>
            <img src="~/img/books_3-wallpaper-1600x1200.jpg" class="mx-auto d-block img-fluid" />
        </div>
    </div>
</div>
