@page
@model DigitalLibrary.Pages.Admin.Categories.DeleteModel
@{
}
<div class="container mt-5">
    <div class="row">
        <partial name="_Panel" />
        <div class="col-lg-9 col-12">
            <div class="card pb-4 text-center p-2">
                <div class="card-header">
                    <h4 class="h4 text-center">حذف دسته بندی @Model.Category.Name</h4>
                </div>
                <form method="post">
                    <input type="hidden" asp-for="Category.Id" />
                    <div class="row p-3">
                        <h6 class="text-right my-3"> نام دسته بندی </h6>
                        <input asp-for="Category.Name" class="form-control mt-2" disabled>

                        <h6 class="text-right my-3"> توضیحات </h6>
                        <textarea asp-for="Category.Description" id="discription" cols="15" rows="5" disabled class="form-control"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <input type="submit" class="btn btn-danger btn-block d-block text-white mx-2" value="حذف" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <a asp-page="Index" class="btn btn-secondary btn-block d-block text-white mx-2">بازگشت</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>