@page
@model DigitalLibrary.Pages.Admin.Categories.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="container mt-5">
    <div class="row">
        <partial name="_Panel" />

        <div class="col-lg-9 col-12">
            <div class="card pb-4 text-center p-2">
                <div class="card-header">
                    <h4 class="h4 text-center">ویرایش دسته بندی @Model.Category.Name</h4>
                </div>
                <form method="post">
                    <input type="hidden" asp-for="Category.Id" />
                    <div class="row p-3">
                        <h6 class="text-right my-3"> نام دسته بندی </h6>
                        <input asp-for="Category.Name" class="form-control mt-2">

                        <h6 class="text-right my-3"> توضیحات </h6>
                        <textarea asp-for="Category.Description" id="discription" cols="15" rows="5" class="form-control"></textarea>

                        <input type="submit" class="btn btn-success btn-block w-75 mx-auto d-block mt-3" value="بروزرسانی !">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>