@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "دسترسی غیرمجاز است";
}


<header>
    <h1 class="text-center alert alert-danger mt-2 ">@ViewData["Title"]</h1>
    <h4 class="h3 text-danger text-center">شما به این منبع دسترسی ندارید!</h4>
</header>
