@page
@model RegisterModel
@{
    ViewData["Title"] = "ثبت نام";
}
@section Links{

    <link href="~/css/login - register .css" rel="stylesheet" />
}
<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="register">
        <h1> ثبت نام </h1>
        <hr>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="d-flex">
            <input asp-for="Input.FullName" placeholder=" نام خود را وارد کنید . . . " id="inp">

        </div>
        <input asp-for="Input.PhoneNumber" placeholder="شماره تلفن همراه خود را وارد کنید . . .">
        <input asp-for="Input.Password" placeholder="رمز عبور  را وارد کنید . . . ">
        <span asp-validation-for="Input.Password" class="text-danger"></span>

        <input asp-for="Input.ConfirmPassword" placeholder=" تکرار رمز عبور . . . ">
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

        <button type="submit" class="vertical">
            <span>
                ثبت نام
            </span>
        </button>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
