@using DigitalLibrary.Models;
@using DigitalLibrary.StaticValues;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">سلام @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">خروج</button>
            </form>
        </li>
        @if (User.IsInRole(SD.Admin))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Admin/Books">پنل کاربری</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Panel">پنل کاربری</a>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">ثبت نام</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">ورود</a>
        </li>
    }
</ul>
